# Analysing Covid 19 Data

## Data Preparation

### 1. Filtering and Selecting
### 2. Treatring missing values
### 3. Removing duplicates
### 4. Concatanating and Transforming
### 5. Grouyping and Aggregation

## Flitering and Selecting

In [1]:
import pandas as pd

In [5]:
covid_data_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
covid = pd.read_csv(covid_data_url)
covid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,6/8/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,70761,71838,72977,74026,75119,76628,77963,79224,80841,82326
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132309,132315,132337,132351,132360,132372,132374,132379,132384,132397
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,128725,128913,129218,129640,129976,130361,130681,130958,131283,131647
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13693,13727,13729,13744,13752,13758,13758,13758,13777,13781
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,34366,34551,34752,34960,35140,35307,35594,35772,35854,36004